@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";


* {
  outline: 1px solid red;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  background-color: #fdf1dc;
}


main, section, header, footer, .container {
  width: 100%;
  max-width: 100%;
}
